@charset "utf-8";

body {
    background-color: whitesmoke !important;
}
a:link { 
  color: #000000; text-decoration: none;
}
a:visited { 
  color: #000000; text-decoration: none;
}
a:hover { 
  color: black; text-decoration: underline;
}
a:active {
 color: #000000; text-decoration: none;
}

.nav a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Shift', sans-serif;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
  margin-left: 10px;
}
.nav span {
  font-size: 28px;
  color: black;
}
.nav p {
  margin-left: 40px;
}

.storepc {
  text-align: center;
}
.storepc p {
  font-size: 14px;
}

.sites h2 {
font-size: 26px;
  text-align: center;
}
.sites a {
  clear: both;
  text-align: center;
  font-size: 20px;
}
.sites ul {
  list-style-type: none;
}
.sites li {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-family: 'Montserrat', 'Trebuchet MS', sans-serif;
}

.gurantee {
  clear: both;
  text-align: center;
}

.footer {
  border: solid 1px;
  border-color: grey;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}